$layot-container-width: 960px;

.key {
	display: block;
  flex-basis: 6.9%;
	position: relative;
	border: .1em solid #ccc;
	border-radius: .3em;
	//width: 6.9%;
	padding-bottom: 6.9%;
	background: white;
	//float: left;
	cursor: default;
	font-size: 2vw;
}

@media screen and (min-width: $layot-container-width) {
  .key {
    font-size: 20px;
  }
}

.key.correct {
	background: green;
}
.key.error {
	background: red;
}
.key.toHit {
	background: yellow;
}

.key i {
	display: block;
	position: absolute;
	z-index: 0;
}

.key .to {
	left: 10%;
	bottom: 10%;
}

.key .shift {
	left: 10%;
	top: 10%;
}

.key .caps {
  display: none;
	left: 68%;
	top: 28%;
}
.key .cs {
  display: none;
	left: 50%;
	top: 0;
}
.key .altgr {
	right: 20%;
	bottom: 10%;
}
.key .cc {
	left: 50%;
	top: 50%;
}

// space
.A03def {
  flex-basis: calc((6.9% + .3em) * 4);
  margin-left: calc((6.9% + .3em) * 4);
}
