@import "../layout/variables";

$layot-container-width: 960px;
$keyWidth: 6%;

.key {
	display: block;
  margin: .2em;
  margin-bottom: .5em;
  flex-basis: $keyWidth;
	position: relative;
	border: .2em solid #ccc;
	border-radius: .3em;
	//width: 6.9%;
	//padding-bottom: 6.9%;
	padding-bottom: 5%;
	background: white;
	//float: left;
	cursor: default;
	font-size: 2vw;
  box-shadow: 0 .3em 0 $gray;

}

@media screen and (min-width: $layot-container-width) {
  .key {
    font-size: 20px;
  }
}

.key.correct {
	border-color: green;
}
.key.error {
	border-color: red;
}
.key.toWrite {
	background: yellow;
}

.key i {
	display: block;
	position: absolute;
	z-index: 0;
}

.key .to {
	left: 10%;
	bottom: 10%;
}

.key .shift {
	left: 10%;
	top: 2%;
  color: $gray-light;
}

.key .caps {
  display: none;
	left: 68%;
	top: 28%;
}
.key .cs {
  display: none;
	left: 50%;
	top: 0;
}
.key .altgr {
	right: 20%;
	bottom: 10%;
}
.key .cc {
	left: 50%;
	top: 50%;
}


// backspace
.E14 {
  flex-grow: 1;
}

// tab
.D00 {
  flex-basis: $keyWidth * 1.4;
}

// enter
.D13,
.C13 {
  flex-grow: 1;
}

// capsLock
.C00 {
  flex-basis: $keyWidth * 1.7;
}

// Shift
.B99 {
  flex-basis: $keyWidth * 1.2;
}
.B13 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 12%;
}

// Ctrl
.A99 {
  flex-basis: $keyWidth * 1.2;
}

// space
.A03 {
  flex-grow: 1;
}
