.key {
	display: block;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 6.9%;
	padding-bottom: 6.9%;
	background: white;
	float: left;
	cursor: default;
}
.key.correct {
	background: green;
}
.key.error {
	background: red;
}
.key.toHit {
	background: yellow;
}

.key i {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.key .s {
	display: block;
	color: #333;
	position: absolute;
	font-size: 2vw;
	font-weight: normal;
}
/*
.key .s_0 {
	left: 0;
	top: 0;
}
.key .s_1 {
	left: 50%;
	top: 0;
}
.key .s_2 {
	left: 0;
	top: 50%;
}
.key .s_3 {
	left: 50%;
	top: 50%;
}
.key .s_4 {
	left: 50%;
	top: 50%;
}
*/
