
@import "layout.scss";


/* Typing */
body {
  background: tan;
}

.typewriterApp {
  position: relative;
  background: thistle;
}

.userText {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  opacity: .01;
}
.char {
	display: inline;
  font-style: normal;
}
.char.done {
	color: gray;
}
.char.active {
	color: black;
}
.char.error {
	color: #f00;
	background: #fcc;
}

.sampleBoard {
  display: block;
  background: white;
  border:  2px solid lightgray;
  padding: 10px;
	color: lightgrey;
	font-family: 'Inconsolata', monospace;
	font-size: 18px;

  &.focus {
    border:  2px solid blue;
  }
}

.sampleBoardHint {
  margin: 0;
}

.keyboard-wrapper {
	background: grey;
}

.A,.B,.C,.D,.E {
	clear: both;
	position: relative;
}
.E {

}
.D {
	left: 10%;
}
.C {
	left: 12%;
}
.B {
	left: 8.5%;
}
.A {
	left: 27%;
}

.key {
	display: block;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 6.9%;
	padding-bottom: 6.9%;
	background: white;
	float: left;
	cursor: default;
}
.key.correct {
	background: green;
}
.key.error {
	background: red;
}
.key.toHit {
	background: yellow;
}

.key i {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.key .s {
	display: block;
	color: #333;
	position: absolute;
	font-size: 2vw;
	font-weight: normal;
}
/*
.key .s_0 {
	left: 0;
	top: 0;
}
.key .s_1 {
	left: 50%;
	top: 0;
}
.key .s_2 {
	left: 0;
	top: 50%;
}
.key .s_3 {
	left: 50%;
	top: 50%;
}
.key .s_4 {
	left: 50%;
	top: 50%;
}
*/
.E  .s_0 {
	bottom: 0;
	left: 15%;
	font-size: 3vw;
}
.E  .s_1 {
	top: 0;
	left: 15%;
}
.E  .s_4 {
	bottom: 0;
	right: 15%;
}


.B .s_0,
.C .s_0,
.D .s_0 {
	bottom: 0;
	left: 6%;
}

.B .s_1,
.C .s_1,
.D .s_1 {
	left: 17%;
	top: 0;
	font-size: 3.5vw;
}

.B .s_4,
.C .s_4,
.D .s_4 {
	bottom: 0;
	right: 6%;
}

.A03 {
	width: 40%;
}
