@import "variables";
@import "hover";
@import "tab-focus";
@import "normalize";
@import "reboot";
@import "type";

* {
   box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
}

.header,
.main,
.footer,
.container {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  flex-basis: 960px;
  justify-content: space-between;
}

.header {
  background: $gray-dark;
}

.typewriterApp {
  flex: 1;
}

