@import "variables";
@import "hover";
@import "tab-focus";
@import "normalize";
@import "reboot";
@import "type";

* {
   box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
}

.layout,
.header,
.main,
.footer,
.container {
  display: flex;
  flex-direction: column;
}

.layout {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  justify-content: flex-start;
}

.header {
  background: $gray-dark;
}

.typewriterApp {
}


