

.key {
  & text {
	  cursor: default;
  }

  /* also called keytop */
  &__labels {
    fill: var(--grayDark);
    font-size: 36;
  }

  &__label {
    &.transform {
      display: none;
    }

    &.hidden {
      display: none;
    }
  }


  &__bg {
    stroke: var(--grayLighter);
    stroke-width: 5px;
    fill: var(--white);
  }

  /* variant */
  &.alpha {

    & .key__to {
      display: none;
    }

    & .key__bg {
      fill: var(--yellow);
    }
  }

  /* status */
  &.toWrite {

    & .key__bg {
      fill: var(--blue);
    }

    &.secondary {
      & .key__bg {
        fill: var(--teal);
      }
    }
  }

  &.correct {
    & .key__bg {
      stroke: var(--green);
    }
  }

  &.error {
    & .key__bg {
      stroke: var(--red);
    }
  }

  &.missed {
    & .key__bg {
      stroke: var(--orange);
    }
  }

}

.key__svg {
  width: $key-width;
}
